@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

$color-primary: #f09d51;
$color-primary-light: rgb(231, 226, 221);
$color-brown: rgba(240, 157, 81, 0.5);
$color-main-white: #fff;
$color-white-light: rgba(255, 255, 255, 0.8);
$color-main-black: #222;
$color-main-grey: #ececec;
$main-spacing: 0.1rem;
$main-transition: all 0.3s linear;

*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  color: $color-main-black;
  background-color: $color-main-white;
  font-family: "Lato", sans-serif;
}
