.nav {
  background: $color-primary-light;
  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  position: sticky;
  z-index: 1;

  &-center {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 1.5rem;
  }

  &-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.nav-cart {
  position: relative;
}
.cart-items {
  position: absolute;
  font-weight: 700;
  top: -0.8rem;
  left: 1.2rem;
  font-size: 1.1rem;
  padding: 0px 0.5rem;
  background-color: $color-primary;
  color: $color-main-white;
  border-radius: 30%;
}
